@model MyBookStore.Models.Book

@{
    ViewBag.Title = Model.Title;
}

<link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Open+Sans:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="back-button">
    <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</div>

<div class="book-view container">
    <h2>@Model.Title</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.CoverImage" alt="Book cover image" class="book-image">
        </div>
        <div class="col-md-6">
            <p><i class="fas fa-user icon-black"></i> <a class="link-black" href="@Url.Action("Details", "Author", new { id = Model.Author.Id })"> <strong class="text-black">Author:</strong> @Model.Author.Name</a></p>
            <p><i class="fas fa-building icon-black"></i> <a class="link-black" href="@Url.Action("Details", "Publisher", new { id = Model.Publisher.Id })"> <strong>Publisher:</strong> @Model.Publisher.Name</a></p>
            <p><i class="fas fa-book-open icon-black"></i> <strong class="text-black">Genre:</strong> @Model.Genre.Name</p>
            <p><i class="fas fa-file-alt icon-black"></i> <strong class="text-black">Pages:</strong> @Model.Height</p>
            <p><i class="fas fa-dollar-sign icon-black"></i> <strong class="text-black">Price:</strong> @Model.Price$</p>
            <div class="button-container">
                <a href="@Url.Action("AddToCart", "Cart", new { bookId = Model.Id })" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Buy</a>
            </div>
        </div>
    </div>
</div>

<style>
    body 
    {
        font-family: 'Open Sans', sans-serif;
    }

    h1, h2, h3, h4, h5 
    {
        color: #000000;
        font-family: 'Raleway', sans-serif;
    }

    .back-button 
    {
        text-align: left;
        margin: 10px 0;
    }

    .book-view 
    {
        margin: 20px;
        padding: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .book-view .link-black 
    {
        color: black;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

    .book-view .link-black:hover 
    {
        color: #555;
    }

    .book-view h2 
    {
        color: #333;
        margin-bottom: 20px;
    }

    .book-image 
    {
        width: 100%;
        max-width: 500px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        border-radius: 5px;
    }

    .book-image:hover 
    {
        transform: scale(1.05);
    }

    .book-view p 
    {
        color: black;
        margin: 10px 0;
        font-size: 16px;
    }

    .btn-primary 
    {
        background-image: linear-gradient(to right, #FF5733, #FF8A33);
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 25px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        font-weight: bold;
    }

    .btn-primary:hover 
    {
        background-image: linear-gradient(to right, #FF8A33, #FF5733);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }

    .btn-primary:active 
    {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transform: translateY(1px);
    }

    .icon-black, .text-black 
    {
        color: black;
    }
</style>
