@model MyBookStore.Models.Book

@{
    ViewBag.Title = Model.Title;
}

<div class="back-button">
    <button onclick="goBack()" class="btn btn-outline-primary">
        <i class="fas fa-arrow-left"></i> Back
    </button>
</div>

<script>
    function goBack() {
        window.location.href = '@Url.Action("Index", "Home")';
    }
</script>

<div class="book-view container">
    <h2>@Model.Title</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.CoverImage" alt="Book cover image" class="book-image">
        </div>
        <div class="col-md-6">
            <p><strong>Author:</strong> @Model.Author.Name</p>
            <p><strong>Genre:</strong> @Model.Genre.Name</p>
            <p><strong>Published:</strong> @Model.PublicationDate.ToString("d")</p>
            <p><strong>Publisher:</strong> @Model.Publisher.Name</p>
            <p><strong>Pages:</strong> @Model.Height</p>
            <p><strong>Price:</strong> @Model.Price$</p>
            <div class="button-container">
                <a href="@Url.Action("AddToCart", "Cart", new { bookId = Model.Id })" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
</div>

<style>
    .back-button {
        text-align: left;
        margin: 10px;
    }

    .book-view {
        margin: 20px;
    }

    .book-view h2 {
        color: #333;
        margin-bottom: 20px;
    }

    .book-image {
        width: 100%;
        max-width: 560px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .button-container .btn-primary 
    {
        background-image: linear-gradient(to right, #FF5733, #FF8A33);
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 25px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        font-weight: bold;
    }

    .button-container .btn-primary:hover 
    {
        background-image: linear-gradient(to right, #FF8A33, #FF5733);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }

    .button-container .btn-primary:active 
    {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transform: translateY(1px);
    }

    p {
        margin: 5px 0;
    }
</style>
